.btn-inline {
    color: var(--col-primary);
    font-weight: 600;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    padding-bottom: .4rem;
    border-bottom: 1px solid var(--col-primary);
    cursor: pointer;
}