.search-bar {
    flex: 0 0 40%;
    display: flex;
    align-items: center;

    &__input {
        width: 90%;
        height: 1.5rem;
        padding: .8rem 1.25rem;
        border-radius: 10rem;
        border: none;
        transition: width .2s;
        background-color: var(--col-light-grey-1);
        color:  var(--col-dark-grey-2);

        &:focus {
          outline: none;
          width: 100%;  
        }

        &::placeholder {
            color: var(--col-dark-grey-1);
        }
    }

    &__button {
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        border: none;
        margin-left: -2.5rem;
        color: var(--col-dark-grey-1);

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor;
    }
}