:root {
    --col-primary-light: rgb(240, 50, 101);
    --col-primary: rgb(204, 38, 82);
    --col-primary-dark: rgb(164, 29, 65);
    
    --col-light-grey-1: #f9f9f9;
    --col-light-grey-2: #ebebeb;
    --col-light-grey-3: #d5d5d5;

    --col-dark-grey-1: rgb(138, 138, 138);
    --col-dark-grey-2: rgb(110, 110, 110);
    --col-dark-grey-3: rgb(35, 35, 35);

    --shadow-light: 0 .5rem 3rem #00000010;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

*, *::before, *::after {
    margin: 0;
    padding: 0;
}



html {
    font-size: 62.5%; // 10px/16px * 100 = 62.5% 
    box-sizing: border-box;
    @media only screen and (max-width: $bp-large) {
        // font-size: 50%;
    }
}



body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: var(--col-primary);
}

img {
    max-width: 100%;
}

p {
    font-size: inherit;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }
}