.container {
    max-width: 120rem;
    margin: 4rem auto;
    background-color: #ffffff;

    @media only screen and (max-width: $bp-largest) {
        margin: 0 auto;
    }

    @media only screen and (max-width: $bp-large) {
        max-width: 100%;
    }
}

.header {
    height: 7rem;
    border-bottom: 1px solid var(--col-light-grey-2);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-smallest) {
        align-content: center;
        flex-wrap: wrap;
        padding-top: 2rem;
    }
}

.main  {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--col-dark-grey-3);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1;
    color: var(--col-dark-grey-2);
    font-size: 1.4rem;
}

.details {
    display: flex;
    background-color: var(--col-light-grey-1);
    padding: 4rem;
    border-bottom: 1px solid var(--col-light-grey-2);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    flex: 1;
    background-color: #ffffff;
    padding: 3rem;
    box-shadow: var(--shadow-light);

    @media only screen and (max-width: $bp-medium) {
        padding: 2.75rem;
    }
}

.reviews {
    flex: 0 0 35%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        margin-left: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-left: 0rem;
        margin-top: 3rem;
    }
}

